@use '../utilities' as *;

.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: color(primary, dark);
  min-height: $footer-height;
  width: 100%;

  :focus-visible { outline-color: color(gray, light); }

  .footer-controls {
    position: relative;
    height: auto;
    margin: 0 auto;
    max-width: $large-screen;
    text-align: left;

    @include breakpoint($small-screen) { text-align: center; }
  }

  .footer-signature {
    color: color(gray, light);
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    margin: $space-sm;

    @include breakpoint($small-screen) {
      line-height: $footer-height;
      margin: 0;
      text-align: center;
    }
  }
}

.social-icon__container {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  line-height: $footer-height;
  list-style: none;
  padding: 0 $space-sm;
  width: auto;

  .social-icon {
    float: left;
    padding: 0 8px;

    .social-github { @include social-icon('github'); }
    .social-linkedin { @include social-icon('linkedin'); }
  }
}
