@use 'mixins' as *;
@use 'variables' as *;

.mobile-only {
	@include breakpoint($small-screen) { display: none; }
}

.hide-on-mobile {
	display: none;

	@include breakpoint($small-screen) { display: block; }
}

.hide-on-mobile__inline {
	display: none;

	@include breakpoint($small-screen) { display: inline-block; }
}

.hide {
	opacity: 0;
	visibility: hidden;
	display: none;
}

.center {
	margin-right: auto !important;
	margin-left: auto !important;
	display: block !important;
	text-align: center !important;
}

@each $side in top, right, bottom, left {
	.marg-#{$side}-0 { margin-#{$side}: 0 !important; }
	.pad-#{$side}-0 { padding-#{$side}: 0 !important; }
}
